@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 90%;
    margin: auto;
}

.main{
    background: url("images/bg.svg") hsl(193, 100%, 96%);
    height: fit-content;
}

.logo{
    width: 17%;
    padding: 4vh 0;
}

.first-btn{
    margin: -8.8vh 0 0 75vw;
    width: 13%;
}

.main-btn{
    border: none;
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    height: 5.5vh;
    border-radius: 20px;
    box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.4);
}

.holder-1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15vh 0;
}

.writeup{
    margin: -16vh 0 0 0;
    width: 65%;
}

.writeup h1{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    padding: 6vh 0;
}

.writeup p{
    padding: 0 0 5vh 0;
}

.writeup-btn{
    border: none;
    background-color: hsl(322, 100%, 66%);
    height: 6.5vh;
    width: 50%;
    border-radius: 20px;
    color: hsl(0, 0%, 100%);
}

.holder1-img{
    height: 75vh;
    width: 100%;
    margin:  0 0 0 3vw;
}

.vector1{
    max-width: 100%;
}

.section1{
    margin: 20vh auto 0;
}

.holder-2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 4px 10px hsla(0, 0%, 0%, 0.2);
    padding: 10vh 0;
}

.writeup2{
    margin: 0 0 0 4vw;
    width: 38%;
}

.writeup2 h2{
    font-size: 1.8rem;
    font-weight: 700;
    padding: 3vh 0;
}

.writeup2 p{
    line-height: 150%;
}

.holder2-img{
    margin: 0 0 0 0;
    width: 30%;
    height: 50vh;
}

.vector2{
    width: 100%;
    height: 50vh;
}

.section2{
    margin: 8vh auto 0;
}

.holder-3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 4px 10px hsla(0, 0%, 0%, 0.2);
    padding: 10vh 0;
}

.writeup3{
    margin: 0 5vw 0 0;
    width: 62%;
}

.writeup3 h2{
    font-size: 1.8rem;
    font-weight: 700;
    padding: 3vh 0;
}

.writeup3 p{
    line-height: 150%;
}

.holder3-img{
    background: url("images/illustration-flowing-conversation.svg");
    background-position: center;
    background-size: 60vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}

.section3{
    margin: 8vh auto 0;
}

.holder-4{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 4px 10px hsla(0, 0%, 0%, 0.2);
    padding: 10vh 0;
}

.writeup4{
    margin: 0 0 0 12vw;
    width: 75%;
}

.writeup4 h2{
    font-size: 1.8rem;
    font-weight: 700;
    padding: 3vh 0;
}

.writeup4 p{
    line-height: 150%;
}

.holder4-img{
    background: url("images/illustration-your-users.svg");
    background-position: center;
    background-size: 60vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}

.footer{
    position: relative;
    margin: 30vh 0 0 0;
    height: fit-content;
    background-color: hsl(192, 100%, 9%);
}

.last-holder{
    position: absolute;
    margin: -18vh auto;
}

.last-writeup{
    background-color: hsl(0, 0%, 100%);
    width: 60%;
    height: 35vh;
    border-radius: 10px;
    box-shadow: 0 4px 10px hsla(0, 0%, 0%, 0.2);
    text-align: center;
    margin: 0 20vw;
}

.last-writeup h1{
    padding: 7vh 0;
}

.last-btn{
    border: none;
    background-color: hsl(322, 100%, 66%);
    height: 8vh;
    width: 40%;
    border-radius: 30px;
    color: hsl(0, 0%, 100%);
}

.last_logo{
    margin: 35vh 0 6vh;
    filter: invert(100%) sepia(65%) saturate(1%) hue-rotate(307deg) brightness(113%) contrast(101%);
}

.locate-icon{
    position: relative;
    right: 17vw;
    top: 5vh;
}

.text-locate{
    color: hsl(0, 0%, 100%);
    margin: 1vh 0 0 4vw;
    width: 25%;
}

.phone-icon{
    position: relative;
    top: 4vh;
    left: 0.5vw;
}

.No{
    color: hsl(0, 0%, 100%);
    margin: 0 0 0 4vw;
}

.e-icon{
    position: relative;
    top: 4vh;
    left: 0.5vw;
}

.address{
    color: hsl(0, 0%, 100%);
    margin: 0 0 0 4vw;
}

.li1{
    margin: -26.5vh 0 0 40vw;
}

.li1 ul{
    list-style: none;
}

.li1 ul li{
    padding: 0 0 3vh 0;
    color: hsl(0, 0%, 100%);
}

.li2{
    margin: -19.5vh 0 0 53vw;
}

.li2 ul{
    list-style: none;
}

.li2 ul li{
    padding: 0 0 3vh 0;
    color: hsl(0, 0%, 100%);
}

.social-icon{
    margin: -18vh 0 0 60vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-icon ul{
    list-style: none;
}

.social-icon ul li{
    position: relative;
    border: 1px solid white;
    display: inline-block;
    border-radius: 10rem;
    width: 2.6rem;
    height: 2.6rem;
    margin: 0 0 0 1rem;
}

.social-icon ul li img{
    position: absolute;
    top: 1vh;
    left: 0.5vw;
}

.C_R-text{
    color: hsl(0, 0%, 100%);
    margin: 30vh 0 0 65vw;
    padding: 0 0 10vh 0;
}

@media (max-width: 500px){
    .main{
        border: 1px solid red;
        background: url(images/bg-hero-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: fit-content;
    }

    .logo{
        padding: 8vh 0;
        min-width: 30%;
    }

    .first-btn{
        margin: -13.5vh 0 0 62vw;
        min-width: 30%;
    }

    .main-btn{
        max-width: 100%;
        font-size: 3vw;
        font-weight: 700;
    }

    .holder-1{
        margin: 5vh 0;
        min-width: 100%;
        display: block;
    }

    .writeup{
        min-width: 100%;
    }

    .writeup h1{
        max-width: 80%;
        font-size: 6vw;
        margin: 3vh 0 0 10vw;
        text-align: center;
    }

    .writeup p{
        max-width: 85%;
        font-size: 4vw;
        margin: 0 0 3vh 7vw;
        text-align: center;
    }

    .writeup-btn{
        font-weight: 700;
        border-radius: 40px;
        height: 8vh;
        margin: 0 0 6vh 24vw;
    }

    .holder1-img{
        /* margin: 0 0 -10vh 0; */
        background-size: 28em;
        border: 1px solid red;
        width: 100%;
        height: 60vh;
    }
}